.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
  color: black;
  row-gap: 2rem;
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
}

.termsConditions{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: white;
  padding: 1rem;
}

.title {
  color: #7A3A30
}
