.container {
  color: ghostwhite;
  position: relative;
  text-align: center;
  text-align: -webkit-center;
}

.container-image {
  width: 8rem;
}

.container-text {
  background-color: ghostwhite;
  width: 8rem;
  height: 8rem;
  border-radius: 25px;
  align-content: center;
}

@media only screen and (max-width: 630px) {}