.container {
  color: ghostwhite;
  position: relative;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.container-image {
  width: 8rem;
}

.container-text {
  display: flex;
  background-color: ghostwhite;
  width: 8rem;
  height: 8rem;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 630px) {
  .container-image {
    width: 7rem;
  }
}

@media only screen and (max-width: 280px) {
  .container-image {
    width: 5rem;
  }

  .container-image {
    width: 6rem;
  }

  .title {
    font-size: .8rem;
  }
}