.created {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  height: 91svh;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
  background: ghostwhite;
  border-radius: 25px;
  color: black;
  padding: 0.5rem;
  font-weight: 500;
}

.button:hover {
  background: ghostwhite;
  border-radius: 25px;
  color: #eab308;
  padding: 0.5rem;
  font-weight: 500;
}