.card {
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background: transparent;
  border-radius: 15px;
  z-index: 20;
  /* backdrop-filter: brightness(0.8); */
}
.image {
  color: transparent;
  object-fit: cover;
  height: 100%;
  width: 50%;
  background-color: ghostwhite;
  align-self: center;
}

.details {
  border-radius: 15px;
}

@media only screen and (max-width: 1023px) {
  .card {
    width: 16rem;
  }

  .image {
    color: transparent;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
    align-self: center;
  }
}

@media only screen and (max-width: 630px) {
  .card {
    width: 14rem;
  }

  .image {
    color: transparent;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    align-self: center;
  }
}