.container {
  /* position: absolute;
  bottom: 0; */
  height: 5rem;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons {
  display: flex;
  flex-direction: column;
}
