.container {
  height: 6rem;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 20;
  color: #7A3A30;
}

.right {
  display: flex;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
}

.legal {
  font-size: .8rem;
}

