.main {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(4, max-content);

  justify-content: center;
  align-content: center;

  column-gap: 3rem;
  row-gap: 3rem;
}

.about {
  display: flex;
  flex-direction: column;
}

.about > h2 {
  /* padding: 4rem 1rem; */
}

@media only screen and (max-width: 630px) {
  .main {

  }
}
