.no-data {
  text-align: center;
}

.container-message {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: #7A3A30;
  height: 85vh;
  align-items: center;
  justify-content: center;
  height: 75vh;
}