.no-data {
  text-align: center;
}

.container-message {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: #7a3a30;
  align-items: center;
  justify-content: center;
  height: 65svh;
}

.contact-us {
  text-decoration-line: underline;
  font-weight: 500;
}