.container {
  display: flex;
  flex-direction: column;
  /* padding: 8% 0; */
  min-height: 100vh;
  align-items: center;
  row-gap: 1rem;
  z-index: 1010;
}

.no-data {
  padding: 2%;
  text-align: center;
}

@media only screen and (max-width: 630px) {
  .container {
    padding: 4rem 0;
  }
}
