.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-update {
  min-height: 65vh;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update-links {
  justify-content: space-around;
  width: 100%;
  border-top: solid;
  border-bottom: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  text-align: center;
  align-items: center;
  margin: 1rem 0;
}

.farmer-links {
  border-top: solid;
  border-bottom: solid;
}

.update {
  display: flex;
  width: 100%;
  justify-content: center;
}

.update-link {
  background-color: ghostwhite;
  padding: 0.3rem;
  border-radius: 8px;
}

@media only screen and (max-width: 630px) {
  .container {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0 6rem 0;
  }
}