.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.section-products {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.section-product-data {
  display: flex;
  flex-direction: column;
}