.container {
    background-color: transparent;
    position: fixed;
    border-bottom: none;
    backdrop-filter: blur(15px);
}

/* .links {
    color: white;
} */

@media only screen and (max-width: 575px) {
    .links {
        color: black;
    }
}